* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: #e1f5fe;
  /* background: rgba(87, 166, 255, 1); */
  /* background: linear-gradient(180deg, rgba(87, 166, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); */
  color: #333;
}

body,
input,
button {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}

.swal2-popup,
.swal2-cancel,
.swal2-confirm {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
